html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    border-color: #ccc;
    color: #ccc;
    min-height: 100%;
    min-width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    line-height: 2;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #4b4b4b;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}

.header img {
    height: 100%;
    width: 100%;
}

.game_icon {
    height: 60px;
    width: 100px;
    background-color: aquamarine;
}

/* .container {
    width: 80%;
    margin: auto;
} */



.title {
    align-self: center;
    width: 90%;
    line-height: 100px;
    font-size: 3rem;
    border-bottom: 2px solid;
}



.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    color: #ccc;
    /* background-color: #4b4b4b; */

}

/* .footer div {

    line-height: 150px;
} */

.footer_img {
    position: absolute;
    top: -200%;
    left: -200%;
    height: 300%;
    width: 300%;
    z-index: -1;
}