body {
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    margin: 130px auto 0;
    background: rgba(75, 75, 75, 0.9);
    border: 1px solid #ccc;
}

.studio_name {
    display: flex;
    align-items: center;
    height: 15%;
    width: 80%;
    font-size: 3rem;
    border-bottom: 2px solid #ccc;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 70%;
    max-height: 85%;
}

.creater {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
    padding: 5% 0 0;
}

.creater_img {
    max-height: 60%;
    max-width: 70%;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 10%;
}