@keyframes fin {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    font-family: 'Roboto', Arial, sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    animation-name: fin;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

* {
    box-sizing: border-box;
    color: inherit;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.op {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 1;
}

.logo {
    height: 40%;
    width: auto;
}

.logo_text {
    color: black;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: default;
}

.bgimg {
    position: absolute;
    top: -50%;
    left: -5%;
    width: 110%;
    z-index: -1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.core {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: auto;
}

.core_component {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition-property: top bottom left right;
    transition: 0.4s;
    height: 500px;
    width: auto;
    transform: scale(1);
}

.content .core_component {
    transition-delay: 0s;
}

.content .c2_core {
    transition-delay: 0.4s;
}

.content:hover .core_component {
    transition-delay: 1s;
}

.content:hover .c5_light {
    transition-delay: 1.3s;
    transform: scale(3);
}

.content:hover .c4_down,
.content:hover .c0_down {
    transition-delay: 0.8s;
    top: 200px;
}

.content:hover .c4_up,
.content:hover .c0_up {
    transition-delay: 0.4s;
    top: -200px;
}

.content:hover .c4_left {
    transition-delay: 0.2s;
    left: -200px;
}

.content:hover .c4_right {
    transition-delay: 0.6s;
    left: 200px;
}

.content:hover .c3_shadow {
    opacity: 0;
}

.content:hover .c2_left {
    top: 90px;
    left: -100px;
}

.content:hover .c2_right {
    top: 90px;
    left: 100px;
}

.content:hover .c1_down {
    top: 50px;
}

.content:hover .c1_downleft {
    top: 40px;
    left: -40px;
}

.content:hover .c1_downright {
    top: 40px;
    left: 40px;
}

.content:hover .c1_left {
    left: -70px;
}

.content:hover .c1_right {
    left: 70px;
}

.content:hover .c2_core {
    transition-delay: 0s;
    transform: rotateZ(180deg);
}

.home_title {
    position: absolute;
    top: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    font-size: 5rem;
    font-weight: 300;
    color: #fff;
    opacity: 0;
    animation-name: fin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.content:hover .home_title {
    transition: 0.3s;
    color: rgba(255, 255, 255, 0);
}

.menu {
    position: absolute;
    height: 0vh;
    width: 0vw;
    transition: 0.5s;
    transition-delay: 0s;
    opacity: 0;
    background-color: rgba(99, 188, 230, 0.8);
    border: 1px solid #fff;
}

.content:hover .menu {
    height: 90vh;
    width: 90vw;
    transition-delay: 1.4s;
    opacity: 1;
}

.menu_item {
    display: none;
    animation-name: fin;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 0 30px;
    border-bottom: 1px solid #fff;
}

.menu_header_item {
    display: flex;
    justify-content: center;
    width: 50px;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.close_btn {
    font-size: 1.5rem;
    transform: scale(1);
    transition: 0.2s;
}

.close_btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.menu_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
}

.menu_content_item {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 45%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.story_full,
.system_full {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.2s;
    opacity: 0.5;
}

.story_title,
.system_title {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 2px;
    transition: 0.2s;
    opacity: 1;
    z-index: 1;
}

.menu_content_item:hover>img {
    opacity: 1;
}

.menu_content_item:hover>div {
    opacity: 0;
}

.menu_contact {
    display: none;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    border-top: 1px solid #fff;
}

.contact_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0);
}

.contact_text:hover {
    background-color: rgba(255, 255, 255, 0.1);
}