html {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
    color: white;
    height: 100%;
    width: 100%;
    line-height: 1.5;

}

* {
    box-sizing: border-box;
    /* background-color: inherit; */
    /* color: inherit; */
    list-style: none;
    text-decoration: none;
    /* cursor: none; */
    /* cursor:url('../img/dii.ico'), auto; */

}

@keyframes fin {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    animation-name: fin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.op {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 1;
}

.logo {
    height: 40%;
    width: auto;
}

.logo_text {
    color: black;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 5px;
}

/* .op video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
} */

.bgimg {
    position: absolute;
    top: -10%;
    left: -10%;
    /* height: 110vh; */
    width: 120%;
    height: 120%;
    z-index: -1;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.core {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: auto;
}

.core_component {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition-property: top bottom left right;
    transition: 0.4s;
    height: 500px;
    width: auto;
}


.content .core_component {
    transition-delay: 0s;
}

.content .c2_core {
    transition-delay: 0.4s;
}

.content:hover .core_component {
    transition-delay: 1s;
}

.content:hover .c4_left {
    transition-delay: 0.2s;
}

.content:hover .c4_up,
.content:hover .c0_up {
    transition-delay: 0.4s;
}

.content:hover .c4_right {
    transition-delay: 0.6s;
}

.content:hover .c4_down,
.content:hover .c0_down {
    transition-delay: 0.8s;
}

.content:hover .c4_down,
.content:hover .c0_down {
    top: 200px;

}

.content:hover .c4_up,
.content:hover .c0_up {
    top: -200px;
}

.content:hover .c4_left {
    left: -200px;
}

.content:hover .c4_right {
    left: 200px;
}

.content:hover .c3_shadow {
    opacity: 0;
}

.content:hover .c2_left {
    top: 90px;
    left: -100px;
}

.content:hover .c2_right {
    top: 90px;
    left: 100px;
}

.content:hover .c1_down {
    top: 50px;
}

.content:hover .c1_downleft {
    top: 40px;
    left: -40px;
}

.content:hover .c1_downright {
    top: 40px;
    left: 40px;
}

.content:hover .c1_left {
    left: -70px;
}

.content:hover .c1_right {
    left: 70px;
}

.content:hover .c2_core {
    transition-delay: 0s;
    transform: rotateZ(180deg);
}

